.grid-container {
    display: grid;
    grid-gap: 10px;
    height: 100vh;
}

.grid-item:first-child {
    grid-column: 1 / span 2;
}

.grid-item:nth-child(2) {
    grid-column: 3 ;
    grid-row: 1 / span 2;


}


.grid-item:nth-child(3) {
    grid-column: 1 ;
    grid-row: 2 ;

}

.grid-item:nth-child(4) {
    grid-column: 2 ;
    grid-row: 2 ;


}


/* BACKGROUND COLORS */
.red-bg {
    background-color: rgb(226, 82, 66);
}

.green-bg {
    background-color: rgb(106, 179, 138);
}

.blue-bg {
    background-color: rgb(81, 126, 185);
}

.yellow-bg {
    background-color: rgb(222, 224, 85);
}

.purple-bg {
    background-color: rgb(154, 96, 212);
}