body {
  margin: 40px;
}

.sidebar {
    grid-area: sidebar;
  }

  .sidebar img {
      width: 100%;
  }

  .content {
    grid-area: content;

  }

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }


  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas:
    "....... header header"
    "sidebar content content"
    "footer  footer  footer";
    color: #444;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


.box {
  background-color: rgb(79, 79, 182);
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header,
.footer {
  background-color:rgb(224, 32, 32);
  text-align: center;
}

.header {
    font-size: 50px;
}
