.flex-container {
    display: flex;
}

.shop-img {
    display: flex;
    width: 50vw;

}

.shop-img img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.info {
    width: 50vw;
    background-color: #17ff02;
    padding: 5% 50px;
}