.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}

.small-screen100 img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}


.info {
    background-color: black;
    color: #17ff02;
    display: flex;
    flex-direction: column; 
}

.info p {
    padding: 10px 50px;
} 

.info h2 {
    padding: 6px 50px;
}
.info-2 {
    display: flex;
    flex-direction: column; 
background-color: #000000;
color: #17ff02;
}

@media (min-width: 768px) {
    .large-screen50 {
        display: flex;
        width: 50vw;
    }

  
}

@media (max-width: 767px) {
    .info h2 {
        text-align: center;
    }
    
 
    .small-screen100 {
        display: flex;
        width: 100vw;
        overflow: hidden;
    }

    
    }