.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}



.small-screen100 img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.shop-img{
    background-image: url('imgs/inside.jpeg');
    background-position: center;
}

.about-3 {
    background-image: url('imgs/about-3.jpeg');
    background-position: center;
}


.info {
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 1.5em;
}


.info-2 {
align-self: center;
background-color: #000000;
color: white;

}

.info-2 p {
    padding: 100px;
    text-align: justify;
}




@media (min-width: 768px) {
    .large-screen50 {
        width: 50vw;
    }

  
}

@media (max-width: 767px) {
   
    
    .shop-img {
        height: 500px;
    }

    .about-3 {
        height: 500px;
    }
 
    .small-screen100 {
     
        width: 100vw;
        overflow: hidden;
    }

    .info {
        padding-bottom: 0px;
    }

    .info-2 p {
        padding: 40px;
    }

    
    }