@media (max-width: 768px) {

    .blog-container {
        padding-top: 25px;
        display: flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content: space-around;
    }

  
.post img {
 width: 80vw;
    display:flex;
margin: auto; 
padding: 25px;
}
}