.category {
    font-size: 13px;
    margin-top: -10px;
}

@media (max-width: 768px) {



    .blog-container {
        padding-top: 25px;
        display: flex;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content: space-around;
    }

  
.post img {
 width: 80vw;
    display:flex;
margin: auto; 
padding: 25px;
}
}

@media (min-width: 768px) {
    .blog-container {
        padding-top: 25px;
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: space-around;
    }

.post img {
 width: 25vw;
display:flex;
margin: auto; 
padding: 5px;
}
}