.thanks {
    display: none;
}

.donate-box {
    display:flex;
    padding: 2% 5%;  
    display: flex;
    flex-direction: column;  
}

.donate-box p {

   text-align: justify;
   padding-left: 6%;
}

.donate-form {
 
    display: flex;
    flex-direction: row;
}
form {
    padding: 5%;
    
}

.donate-img {
    display:flex;
    justify-content: center;
    background-image: url('imgs/donate.gif');
    background-repeat: no-repeat;
    background-size: 70%;
    margin-top: 5%;
}


#donate-head {
    background-image: url('imgs/donate.jpeg');
    background-repeat: none;
    background-size: cover;
    background-position: bottom;
    padding: 100px;
}

@media (max-width: 767px) {

    .donate-img {
        display: none;
    }
    
}