@import "blog.css"; 
@import "about.css"; 
@import "donate.css"; 
/* HOME PAGE + GENERAL */
h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.top {
    display: flex;
    flex-direction: column;
}
body {
  margin: 0px;
  font-family:'Roboto', sans-serif;
}

main {
  max-width: 1440px;
  margin: auto;
  background-color: cream;
}

p {
  line-height: 1.5em;
}



.hero {
    width: 100%;
    display: flex;
    align-self: center;
    min-height:  556px;
}



.text-section {
  display: flex;
  flex-direction: column;
    background-color: white;
    width: 100%;
}

#holguin {
  background-color: #4343f0;
  padding: 5%;
  color: white;
  margin-top: -3%;
}

#unlock{
  background-color: #7500fc;
  padding: 5%;
  color: white;
  margin-top: -5%;

}
@media (min-width: 768px) {
  .top {
    display: flex;
    flex-direction: row;
}
.large-screen50 {
  width: 50%;
}
#holguin {
  margin: 5%; }

  #unlock{
    margin: 5%;
  }

  main {
    padding: 15px 42px;
  }

}

/* NAVIGATION */
.logo {
    width: 50px;
  }

  
  main {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  h1 {
    text-align: center;
  }
  
  input#toggle {
    display: none;
  }
  
  .header, 
  .main-navigation ul {
    display: flex;
    flex-direction: column;
  flex-wrap: nowrap; 
  }
  
  .header-wrapper {
    background: rgb(0, 0, 0);
    padding: 35px 20px;
  }
  
  .header {
    max-width: 1200px;
    margin: 0 auto;
  }
  

  
   ul {
      list-style: none;
      padding: 0;
      margin: 0;
      justify-content: space-between;
      border-bottom: none;
  }
  
    
    
  ul a {
      padding: .7em;
      text-align: center;
      color: white;
      font-size: 1.2em;
      transition: background-color .3s, color .3s;
  }
  
  ul a:hover {
        color: black; 
      }
    
  

  #main-navigation label {
      display: block;
    }
  
  #main-navigation input {
      display: noneblock;
    }
   
  #main-navigation label img {
      width: 40%;
      margin-top: -55px;
      float: right;
    }
  
  #main-navigation label {
      display: block;
      cursor: pointer;
      float: right;
      cursor: pointer;
      }
  
  #main-navigation {
        display: block;
      }
      
  ul {
        display: none;
        margin-top: 76px;
        transition: 800ms;
      }
  
  #main-navigation a {
        display: block;
        padding: 3px;
        font-size: 14.5px;
        text-align: center;
        clear: right;
      }
      input[type=checkbox]:checked~ul {
      display: block;
    }
  
  
    @media (min-width: 768px) {
      #main-navigation label {
        display: none;
      }
      ul {
        display: flex;
        margin-top: 76px;
        transition: 800ms;
        float: right;
        margin-top: -3px;
      }
  
      li {
        padding-right: 20px;
      }
  
      .logo {
        float: left;
        margin-top: -20px;
        margin-bottom: -20px;
      }
    }