@import url("grid.css");
@import url("colors.css");
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

/* NAVIGATION */
.logo {
  font-family: 'Dela Gothic One', cursive;
  font-size: 28px !important;
}
body {
  margin-top: 0;
  font-family: 'open sans';
}

main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
}

input#toggle {
  display: none;
}

.header, 
.main-navigation ul {
  display: flex;
  flex-direction: column;
flex-wrap: nowrap; 
}

.header-wrapper {
  padding: 2em;
  background: floralwhite}

.header {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  margin-bottom: 1em;
  align-self: center;
  color: seagreen;
  font-size: 2em;
}

 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    border-bottom: none;
}

  
  
ul a {
    padding: .7em;
    text-align: center;
    color: #3d3d3d;
    font-size: 1.2em;
    transition: background-color .3s, color .3s;
}

ul a:hover {
      color: seagreen; 
    }
  


.site-content {
  min-height: 600px;
  background: burlywood;}


#main-navigation label {
    display: block;
  }

#main-navigation input {
    display: noneblock;
  }
 
#main-navigation label img {
    width: 20%;
  }

#main-navigation label {
    display: block;
    cursor: pointer;
    float: right;
    cursor: pointer;
    float: left;
    margin-top: -90px;
    }

#main-navigation {
      display: block;
    }
    
ul {
      display: none;
      margin-top: 76px;
      transition: 800ms;
    }

#main-navigation a {
      display: block;
      padding: 3px;
      font-size: 14.5px;
      text-align: center;
      clear: right;
    }
    input[type=checkbox]:checked~ul {
    display: block;
  }


  @media (min-width: 768px) {
    #main-navigation label {
      display: none;
    }
    ul {
      display: flex;
      margin-top: 76px;
      transition: 800ms;
      float: right;
      margin-top: -3px;
    }

    li {
      padding-right: 20px;
    }

    .logo {
      float: left;
      margin-top: -20px;
      margin-bottom: -20px;
    }
  }

  .jumbotron {
    background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg");
    background-size: cover;
    background-position: middle center;
}

.jumbotron h1,
.jumbotron h3 {
    color: white;
    font-family: Open Sans;    
}

.jumbotron h1 {
    font-size: 26px;
    margin-top: 5%;

}

.jumbotron h3 {
   margin-top: -10px;
   font-weight: 300;
}

/* MENU PAGE */
.greenbox {
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}

.menu-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
